[Unit]
Description=Tournoyons server

[Service]
User=jb
ExecStart=/usr/bin/gunicorn -b :8000 -w 4 tournoyons:app
WorkingDirectory=/home/jb/tournoyons

[Install]
WantedBy=multi-user.target