[Unit]
Description=Tournoyons server

[Service]
User=jb
ExecStart=/usr/bin/python2.7 run.py
WorkingDirectory=/home/jb/tournoyons

[Install]
WantedBy=multi-user.target